h1 {
    color:black; 
}

p {
    font-size: 12px;
}

.topNav {
display: flex;
justify-content: space-between;
align-content: center;
background-color: gray;
}

.topNav-right {
    float: right;
    color: white;
}

.nav-cart{
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: 12px;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 15px;
}
  li {
    font-weight: 600;
    font-size: 16px;
  }

  .card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15px;
  }

.content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.link {
  color: red;
  cursor: grabbing;
  float: right;
}

.link:hover {
  font-weight: bolder;
}