h1 {
    color:black; 
    padding-top: 70px;
}

p {
    font-size: 12px;
}
body {
  background-color:antiquewhite;
}

.topNav {
display: flex;
justify-content: space-between;
align-content: center;
background-color:slategray;
z-index: 300;
width: 100%;
position: fixed;
}

.topNav-right {
    float: right;
    color:beige;
    padding: 10px;
}


ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 15px;
}
  li {
    font-weight: 600;
    font-size: 16px;
  }

  .card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15px;
  background-color: transparent;
  z-index: 0;
  }

.content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.menu-card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15px;
  padding-top: 30px;
  margin-top: 70px;
  border: 2px solid black;
  margin: 5px;
  width: 100%;
  }

  .menu-card-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
    margin: 5px;
    width: 500px;
    }

  .menu-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.home-p{
  text-align: left;
}

.button {
  float: right;
}


.link {
  color: red;
  cursor: grabbing;
  float: right;
}

.link:hover {
  font-weight: bolder;
}